// 프리텐다드 폰트
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");


#root {
    display: grid;
    height: 90vh;
    place-items: center;
    font-family: 'Pretendard';
    font-size: 20px;

    .conversion {
        input {
            width: 400px;
            height: 60px;
            margin-inline-end: 10px;
            font-size: 26px;
        }

        span {
            font-size: 26px;
            margin-inline-end: 10px;
        }

        .error {
            color: crimson;
        }

        select {
            height: 60px;
            width: 120px;
            font-size: inherit;
            text-align: center;
            cursor: pointer;
        }

    }

}